<div class="my-3 d-flex justify-content-between align-items-center">
    <h1>Foydalanuvchilar</h1>
    <a href="/admins/create" class="btn btn-primary" role="button">Adminlarni Qo'shish</a>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ism-Sharif</th>
            <th scope="col">Yosh</th>
            <th scope="col">Rol</th>
            <th scope="col">Login</th>
            <th class="col-2" scope="col">Amallar</th>
        </tr>
    </thead>
    <tbody>
        <% admins.forEach((admin, i)=> { %>
            <tr>
                <th>
                    <%= i + 1 %>
                </th>
                <td>
                    <%= `${admin.firstName} ${admin.lastName}` %>
                </td>
                <td>
                    <%= admin.age %>
                </td>
                <td>
                    <%= admin.role==="Admin" %>
                </td>
                <td>
                    <%= admin.username %>
                </td>
                <td class="d-flex gap-3">
                    <a class="btn btn-success" href="/admins/<%= admin.id %>">Ko'rish</a>
                    <% if (currentadmin.role==="admin" ) { %>
                        <a class="btn btn-warning" href="/admins/<%= admin.id %>/edit">Tahrirlash</a>
                        <form action="/admins/<%= admin.id %>/delete" method="post">
                            <button class="btn btn-danger" type="submit">O'chirish</button>
                        </form>
                        <% } %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>